h1{
    color: rgb(97, 13, 175)
}

body{
    background-color: cadetblue;
    font-family: georgia;
}

#lookup{
    color: #e8f1e8;
    background-color: rgb(49, 129, 67);
    border: 1px solid #77991a;
    border-radius: 20px;
}

